{% extends 'pages/base_project_clients.html.twig' %}



{% block footer_block %}
    <div class="card-footer">
        <a href="#">
            <button type="button" class="btn btn-info float-right">Valider</button>
        </a>
    </div>
{% endblock %}
<!-- /.card -->
