{% extends 'pages/base_project_clients.html.twig' %}

{% block finance_block %}
    <div class="card {{ statusData[0] }}">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3 class="card-title" >Details Financiers</h3>
                </div>
            </div>
        </div>

        <!--LE body du tableau des notes du projet -->
        <div class="card-body table-responsive p-0">
            <table class="table">
                <thead>
                <tr>
                    <th>ProjetId</th>
                    <th>Type</th>
                    <th>Montant</th>
                    <th>Fait par</th>
                    <th>Montant restant a envoyer</th>
                    <th>Montant restant a reçevoir</th>
                    <th>Notes</th>
                    <th>Dates d'operation</th>
                </tr>
                </thead>
                <tbody>
                {% set notesData = [1,2,3,4] %}
                {% for note in notesData %}
                    <tr>
                        <td>ph12324fjtrs</td>
                        <td>Entrant</td>
                        <td>1000000</td>
                        <td>G D J</td>
                        <td>250000</td>
                        <td>0.0</td>
                        <td>Le payement debudeta en fin Juin</td>
                        <td>12.01.2021</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.card -->
{% endblock %}

{% block footer_block %}
    <div class="card-footer">
        <div class="row">
            <div class="col-lg-12">

                    <!-- burda dashborda yönlendireceğiz gerisi backend -->
                    <a type="button" class="btn btn-danger col" href="#" >
                        <i class="fas fa-times-circle"></i>
                        <span>Quitter</span>
                    </a>

            </div>

        </div>
    </div>

{% endblock %}
