{% extends 'pages/base_project_clients.html.twig' %}

{% block note_block %}
    <div class="card {{ statusData[0] }}">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3 class="card-title">Ajouter une Note</h3>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <!-- textarea -->
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Entrer ..."></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-secondary"> Sauvegarder</button>
            </div>
        </div>

        <!--note -->
        <div class="card-body table-responsive p-0">

        </div>
    </div>
{% endblock %}

{% block footer_block %}
    <div class="card-footer">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group w-100">
                    <button class="btn btn-success col" onclick="location.href='{{ path('app_secretaire_view') }}'">
                        <i class="fas fa-plus"></i>
                        <span>Valider pour l'etape d'entretien</span>
                    </button>
                    <button type="reset" class="btn btn-warning col"  onclick="location.href='{{ path('app_secretaire_view') }}'">
                        <i class="fas fa-times-circle"></i>
                        <span>Continuer l'etude plus tard</span>
                    </button>
                    <button type="reset" class="btn btn-danger col"  onclick="location.href='{{ path('app_secretaire_view') }}'">
                        <i class="fas fa-times-circle"></i>
                        <span>Rejeter le projet</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
