{% extends 'pages/base_project_clients.html.twig' %}


{% block footer_block %}
    <div class="card-footer">
        {% if project.status == 'EN ATTENTE DE CONTROLE' %}

            <a href="{{ path('admin') }}">
                <button type="button" class="btn btn-info float-right">Valider</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
