{% extends 'pages/base_project_clients.html.twig' %}


{% block footer_block %}
    <div class="card-footer">
        {% if project.status == 'EN ATTENTE DE CONTROLE' %}

            <a href="{{ path('secretary_send_to_exp_analysis', {requestId: project.projectMaster.requestId}) }}">
                <button type="button" class="btn btn-info float-right">Valider</button>
            </a>
        {% endif %}

        {% set projectStatus = project.status %}
        {% if (projectStatus == 'ETAPE D ENTRETIEN' or projectStatus == 'POST ENTRETIEN') %}

            <div class="card-footer">
                <a type="button" class="btn btn-secondary col"
                   href="{{ path('admin') }}">
                    <i class="fas fa-times-circle"></i>
                    <span>Quitter</span>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
