{% extends 'pages/status/all_status_base.html.twig' %}

{% block button_block %}
        <a href="{{ path('app_boss_view', {projectId: 'ph32254378329'})  }}">
            <button type="button" class="btn btn-info btn-sm"  ><i class="fa fa-dot-circle-o"></i>
             Continuer l'Analyse
            </button>
        </a>
{% endblock %}


