{% extends '/pages/status/all_status_base.html.twig' %}

{% block button_block %}
    <a href="{{ path('app_expert_view', {projectId: project.projectId})  }}">
        <button type="button" class="btn btn-info btn-sm"  ><i class="fa fa-dot-circle-o"></i>
            Analyser
        </button>
    </a>
{% endblock %}