
<li class="nav-item">
    <a href="{{ path('app_register') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Enregistrer Un Nouveau Projet</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets En Attente De Revue</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_recent') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projet Recents</p>
    </a>
</li>