{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- right column -->
                <div class="col-lg-12">
                    <form method="post">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Informations du membre a enregistrer</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>1 - Nom et prenoms</label>
                                                <input type="text" class="form-control" name="nameSurname" placeholder="Entrer ...">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Date dd/mm/yyyy -->
                                        <div class="form-group">
                                            <label>2 - Date de naissance</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input type="text" name="birthDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                            </div>
                                            <!-- /.input group -->
                                        </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <!-- radio -->
                                            <label>3 - Genre</label>

                                            <div class="form-group clearfix">
                                                <div class="icheck-primary d-inline">
                                                    <input type="radio" id="radioPrimary1" name="man" checked>
                                                    <label for="radioPrimary1">
                                                        Homme
                                                    </label>
                                                </div>
                                                <div class="icheck-primary d-inline float-right">
                                                    <input type="radio" id="radioPrimary2" name="woman">
                                                    <label for="radioPrimary2">
                                                        Femme
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>4 - Nationalité</label>
                                                <input type="text" name="nationality" class="form-control" placeholder="Entrer ...">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>5 - Numero de telephone</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                    </div>
                                                    <input type="text" name="phoneNumber" class="form-control" data-inputmask='"mask": "99 - 99 - 99 - 99"' data-mask>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>6 - E-mail</label>

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                    </div>
                                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>7 - Profession</label>
                                                <input type="text" name="profession" class="form-control" placeholder="Entrer ...">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>8 - Revenu mensuel</label>
                                                <input type="number" name="monthlyIncome" class="form-control" placeholder="Entrer ...">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <!-- textarea -->
                                            <div class="form-group">
                                                <label>9 - Addresse de  la personne</label>
                                                <textarea class="form-control" name="address" rows="3" placeholder="Entrer ..."></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <!-- textarea -->
                                            <div class="form-group">
                                                <label>10 - Numero de la piece d'identité</label>
                                                <input type="text" name="idNumber" class="form-control" placeholder="Entrer ...">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <!-- textarea -->
                                            <div class="form-group">
                                                <label>11 - Ajouter la photo de la piece d'identité</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="piece_identity">
                                                        <label class="custom-file-label" for="piece_identity">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <!-- textarea -->
                                            <div class="form-group">
                                                <label>12 - Ajouter la photo d'identité</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="photo_identity">
                                                        <label class="custom-file-label" for="photo_identity">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- checkbox -->
                                            <div class="form-group clearfix">


                                                <div class="icheck-primary d-inline">
                                                    <input type="checkbox" name="confirm" id="checkboxPrimary3" >
                                                    <label for="checkboxPrimary3">
                                                        Je confiirme sur l'honneur la veracité des informations entrées.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info">Enregister et continuer</button>
                            </div>
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}


