{% extends 'layout.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('form_validation') }}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form_validation') }}
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Nouveau Client</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Nouveau Client</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- right column -->
                <div class="col-lg-12">
                    <form method="post" id="addClientForm">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Informations du membre a enregistrer</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>1 - Nom et prenoms</label>
                                                    <input type="text" class="form-control" name="nameSurname"
                                                           placeholder="Entrer ...">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- Date dd/mm/yyyy -->
                                                <div class="form-group">
                                                    <label>2 - Date de naissance</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                        class="far fa-calendar-alt"></i></span>
                                                        </div>
                                                        <input type="date" name="birthDate" class="form-control"
                                                               required="true">
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>3 - Genre</label>
                                                    <select class="form-control select2 select2-hidden-accessible"
                                                            style="width: 100%;" data-select2-id="1" tabindex="-1"
                                                            aria-hidden="true" name="gender">
                                                        <option data-select2-id="1">Homme</option>
                                                        <option selected="selected" data-select2-id="2">Femme
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>4 - Nationalité</label>
                                                    <select class="form-control selectpicker countrypicker select2-hidden-accessible"  data-flag="true" aria-label=".form-select-lg example"
                                                            data-live-search="true" aria-hidden="true"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>5 - Numero de telephone</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                        </div>
                                                        <input type="text" name="phoneNumber" class="form-control"
                                                               data-inputmask='"mask": "99 - 99 - 99 - 99"' data-mask>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>6 - E-mail</label>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                        class="fas fa-envelope"></i></span>
                                                        </div>
                                                        <input type="email" name="email" class="form-control"
                                                               placeholder="Email">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>7 - Profession</label>
                                                    <input type="text" name="profession" class="form-control"
                                                           placeholder="Entrer ...">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>8 - Revenu mensuel</label>
                                                    <input type="number" name="monthlyIncome" class="form-control"
                                                           placeholder="Entrer ...">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <label>9 - Addresse de la personne</label>
                                                    <textarea class="form-control" name="address" rows="8"
                                                              placeholder="Entrer ..."></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <label>10 - Numero de la piece d'identité</label>
                                                    <input type="text" name="idNumber" class="form-control"
                                                           placeholder="Entrer ...">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <label>11 - Ajouter la photo de la piece d'identité</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                   id="piece_identity" name="pieceIdentity">
                                                            <label class="custom-file-label" for="piece_identity">Choose
                                                                file</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">Upload</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <label>12 - Ajouter la photo d'identité</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                   id="photo_identity" name="photoIdentity">
                                                            <label class="custom-file-label" for="photo_identity">Choose
                                                                file</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">Upload</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- checkbox -->
                                        <div class="form-group clearfix">


                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" name="confirm" required="true"
                                                       id="checkboxPrimary3" name="confirmation">
                                                <label for="checkboxPrimary3">
                                                    Je confiirme sur l'honneur la veracité des informations entrées.
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info">Enregister le client</button>
                            </div>
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}


