{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- right column -->
                <div class="col-lg-12">

                    <!-- TABLEAU DES INFOS DU PROJET -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title" >Informations du Projet</h3>
                                </div>
                            </div>
                        </div>

                        <!--LE tableau des data des clients du team -->
                        <div class="card-body table-responsive p-0">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td><b>ID du projet</b></td>
                                        <td>ph-45223854</td>
                                    </tr>
                                    <tr>
                                        <td><b>Nom du projet</b></td>
                                        <td>John Doe</td>
                                    </tr>
                                    <tr>
                                        <td><b>Details complet du projet</b></td>
                                        <td>Alexander Pierce What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                            type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident,
                                            sometimes on purpose (injected humour and the like).
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Pret voulu</b></td>
                                        <td>465 0000000</td>
                                    </tr>
                                    <tr>
                                        <td><b>Duree&nbspde&nbspremboursement</b> </td>
                                        <td> 23 mois </td>
                                    </tr>
                                    <tr>
                                        <td><b>Modalite et echeance</b> </td>
                                        <td>456 234 chaque 2 mois</td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title" >Informations des membres du groupe</h3>
                                </div>
                            </div>
                        </div>

                        <!--LE tableau des data des clients du team -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <tbody>
                                    {% set properties = [
                                        'nameSurname',
                                        'birthate',
                                        'gender',
                                        'nationality',
                                        'email',
                                        'Phone',
                                        'adresse',
                                        'profession',
                                        'revenu mensuel',
                                        'IdentityCardNumber',
                                        'ID photo',
                                        'ID Card Photo',
                                    ] %}

                                    {% for  property in properties %}
                                        <tr>
                                            <td><b> {{ property }} </b></td>

                                            {% for item in 0..3 %}
                                                <td>Bilinecektirrr beyyy {{ item }}</td>

                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <br/>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">


                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary3" >
                                            <label for="checkboxPrimary3">
                                                Je confiirme sur l'honneur la verracité des informations entrées.
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-info float-right">Valider</button>
                        </div>
                    </div>


                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}


