<!-- Footer -->
<footer class="container text-center mt-5">

    <p class="text-muted">
        <small>
            © {{ 'now'|date('Y') }} &middot;
            Build with <span class="text-danger">&hearts;</span> by <a href="http://bilgirengi.com">Master Big</a>
        </small>
    </p>

</footer>
<!-- Footer -->